html, body {
    height: 100%;
    background-color: #FFFFFF;
    color: #9FA1A5;
}

body {
    display: -ms-flexbox;
    display: flex;
}

header {
    background: rgba(0, 0, 0, 0.3);
}

footer {
    /*background-color: #8A8A8A;*/
}

.content-background {
    background: url("background.jpeg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-wrapper {
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 50px;
}

.cta-wrapper {
    color: #fff;
    text-shadow: 1px 1px #9FA1A5;
}

h4 {
    color: #FCB750;
}

.header-content-wrapper {
    background: rgba(0, 0, 0, 0.3);
}

button {
    background-color: #FCB750!important;
}

button, input:focus, select:focus {
    border-color: #FCB750!important;
}

input:focus, button:focus, button:active, select:focus, select:active {
    box-shadow: none!important;
}

.w-75 {
    max-width: 1200px;
}

.how-it-works-row {
    margin: 120px 0;
}